body {
  background-color: aquamarine;
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80");
  text-align: center;
  background-size: cover;
}
.container {
  display: flex;
  flex-flow: wrap ; 
  text-align: center;
  justify-content: center;
  
}


.card {
  max-width: 400px;
  max-height: 600px;
  background-color: white;
  flex-basis: 30%;
  margin: 10px;
  padding: 10px;
  flex-flow: wrap;
  overflow: auto;
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
  
  
 
}

.card img {
  width: 75px;
  height: 75px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

.specs {
  margin: 10px;
  padding: 10px;
  float: left;
}
.pricing {
  margin: 10px;
  padding: 10px;
  float: right;
}

h2 .header {
  text-align: center;
}

.avail {
  background-color: blanchedalmond;
}
.main{
  background-color: blanchedalmond;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px black;
}
